{
  email contact@celerinc.com
}

# -------------------------
# Plane (ONLY via plane-proxy)
# -------------------------
plane.celerinc.cloud {
  @godmode_noslash path /god-mode
  redir @godmode_noslash /god-mode/ 308

  @spaces_noslash path /spaces
  redir @spaces_noslash /spaces/ 308

  reverse_proxy plane-proxy:80
}

# -------------------------
# MinIO
# -------------------------

s3.celerinc.cloud {
  reverse_proxy plane-minio:9000
}

# -------------------------
# n8n
# -------------------------
n8n.celerinc.cloud {
  reverse_proxy n8n:5678
}

# -------------------------
# Rocket.Chat
# -------------------------
chat.celerinc.cloud {
  reverse_proxy rocketchat:3000
}

# -------------------------
# ClickHouse (later)
# -------------------------
# ch.celerinc.cloud {
#   reverse_proxy clickhouse:8123
# }